[Desktop Entry]
Name=Grassfeeder RSS Reader
Exec=grassfeeder
Icon=/usr/share/pixmaps/grassfeeder/grassfeeder.png
Type=Application
Categories=Network;
